env
*env
env/
/env
.env
.agents
*/agents
/.codex
aws/
/aws/
*/aws/
awscliv2.zip
*.pem

*/staticfiles/
*/media/

*/__pycache__/

# Ignore all pycache folders anywhere in the project
**/__pycache__/
*.py[cod]
*$py.class

node_modules
node_modules/
/node_modules/*